// Custom Styles
.post {
    &__index {
        &--img {
            display: inline-block;
            width: 50%;
        }
        &--link {
            margin: 40px 20px;
            float: right;
        }
    }
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}